@import 'styles/colors';
@import 'styles/animation';

.burger {
    display: none;
    height: 20px;
    width: 25px;
    position: relative;
    margin: 5px 15px;
    cursor: pointer;
    transition: $buttonAnimationTime;

    & div {
        position: absolute;
        background: $orange;
        height: 2.5px;
        width: 100%;
        transition: $buttonAnimationTime;
    }
    
    &FirstLine {
        top: 0;
    }
    
    &SecondLine {
        top: 50%;
        transform: translateY(-50%);
    }

    &ThirdLine {
        bottom: 0;
    }

    &FirstLineCross {
        top: 10px;
        transform: rotate(45deg);
    }
    
    &SecondLineCross {
        top: 10px;
        transform: rotate(45deg);
    }

    &ThirdLineCross {
        top: 10px;
        transform: rotate(-45deg);
    }

    &:hover {
        opacity: 0.6;
    }
}


@media screen and (max-width: 975px) {
    .burger {
        display: block;
    }    
}
