@import 'styles/colors';
@import 'styles/animation';
@import 'styles/mediaBreakpoint';

.burger {
  display: none;
  height: 20px;
  width: 25px;
  position: relative;
  margin: 5px 15px;
  cursor: pointer;
  transition: $animationTransition;
  @include mediaBreakpoint(lg) {
    display: block;
  }

  div {
    position: absolute;
    height: 2.5px;
    width: 100%;
    transition: $animationTransition;
  }

  &FirstLine, &SecondLine, &ThirdLine {
    background: $white;
  }

  &FirstLineCross, &SecondLineCross, &ThirdLineCross {
    background: $darkTurquoise;
  }

  &FirstLine {
    top: 0;
  }
  
  &SecondLine {
    top: 50%;
    transform: translateY(-50%);
  }

  &ThirdLine {
    bottom: 0;
  }

  &FirstLineCross, &SecondLineCross {
    top: 10px;
    transform: rotate(45deg);
  }

  &ThirdLineCross {
    top: 10px;
    transform: rotate(-45deg);
  }

  &:hover {
    opacity: 0.6;
  }
}
