@import 'styles/colors';
@import 'styles/animation';

.card {
  flex: 0 0 33.3%;
  width: 33.3%;
  transition: $animationTransition;

  &:hover {
    box-shadow: $lightGreyTransparent4;
    transform: scale(1.02);
  }
}

@media screen and (max-width: 450px) {
  .card {
    flex: 0 0 100%;
    width: 100%;
  }
}
