@import 'styles/colors';
@import 'styles/fontMixin';
@import 'styles/fontFamily';
@import 'styles/mediaBreakpoint';

.wrapperMenu {
  height: 43px;
  background: $lightTurquoise;
  @include mediaBreakpoint(lg) {
    padding: 0 15px;
  }
  @include mediaBreakpoint(md) {
    display: none;
  }

  .list {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 919px;
    flex-direction: row;
    transform: translateY(50%);

    .item {
      a {
        @include fontStyle(400, 16px, 20px);
        color: $black;
      }

      &:first-letter {
        text-transform: uppercase;
      }
    }

    .activeItem a {
      font-weight: 700;
    }
  }
}

.wrapperMenuBurger .list {
  padding: 45px;
  display: flex;
  flex-direction: column;
  @include mediaBreakpoint(md) {
    padding: 35px;
  }

  .item {
    a {
      @include fontStyle(400, 28px, 40px);
      color: $black;
    }

    &:first-letter {
      text-transform: uppercase;
    }
  }

  .activeItem a {
    font-weight: 700;
  }
}

.wrapperMenuFooter .list {
  display: flex;
  flex-direction: column;

  .item {
    margin-bottom: 4px;

    a {
      @include fontStyle(400, 18px, 27px);
      font-family: $gothic;
      color: $darkBlue;
    }

    &:first-letter {
      text-transform: uppercase;
    }
  }

  .activeItem a {
    font-family: $gothic;
    font-weight: 700;
  }
}

.wrapperMenu .list, .wrapperMenuFooter .list {
  .item a {
    @include mediaBreakpoint(lg) {
      @include fontStyle(400, 14px, 19px);
    }
    @include mediaBreakpoint(md) {
      @include fontStyle(400, 12px, 14px);
    }
  }

  .activeItem a {
    @include mediaBreakpoint(lg) {
      font-weight: 700;
    }
  }
}
