@import 'constants/colors';
@import 'constants/fonts';

.wrapper {
    border-radius: 10px;
    border: none;
    background: $orange;
    padding: 10px;
    cursor: pointer;
    @include fontz(700, 24px, 29.26px);
    &:hover {
        opacity: 0.6;
        color: white;
    }
    &:active {
        background: $grey;
        color: $font-color-main-text;
    }
}
