.wrapper {
    border-radius: 10px;
    border: none;
    background: rgb(84, 66, 185);
    padding: 10px;
    cursor: pointer;
}

.wrapper:hover {
    opacity: 0.6;
    color: white;
}

.wrapper:active {
    background: rgb(37, 30, 80);
}
