@import 'styles/fontMixin';
@import 'styles/colors';

.wrapper {
  width: 100px;
  position: relative;

  .picture {
    height: 35px;
    width: 35px;
    position: absolute;
    top: -35px;
    left: -18px;
  }

  .text {
    @include fontStyle(400, 16px, 23px);
    color: $turquoise;
  }
}
