@import 'styles/fontMixin';
@import 'styles/fontFamily';
@import 'styles/textEndMixin';
@import 'styles/colors';
@import 'styles/animation';
@import 'styles/mediaBreakpoint';

.wrapper {
  height: 100%;
  width: 100%;
  padding: 12px;
  display: block;
  position: relative;

  &:hover {
    opacity: 1;
  }

  .picture {
    max-width: 416px;
    height: 176px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 6px;
    z-index: -2;
    @include mediaBreakpoint(lg) {
      height: 130px;
    }  

    img {
      position: absolute;
      object-fit: cover;
    }
  }

  .sectionMidl {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .categoryWithCode {
      @include fontStyle(400, 12px, 15px);
      margin-bottom: 4px;
      display: flex;
      justify-content: space-between;
      color: $black;
      @include mediaBreakpoint(lg) {
        @include fontStyle(400, 10px, 15px);
      }  
    }

    .colors {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 4px;
  
      .color {
        width: 20px;
        height: 20px;
        margin-right: 6px;
        @include mediaBreakpoint(lg) {
          width: 15px;
          height: 15px;
        }      
      }
    }
  }

  .name {
    font-family: $garamond;
    @include fontStyle(600, 20px, 30px);
    @include textEndStyle(1);
    color: $black;
    margin-bottom: 4px;
    @include mediaBreakpoint(lg) {
      @include fontStyle(600, 16px, 25px);
    }  
    @include mediaBreakpoint(md) {
      @include fontStyle(600, 13px, 25px);
    }  
  }


  .price {
    @include fontStyle(700, 18px, 20px);
    color: $turquoise;
    margin-bottom: 4px;
  }

  .activeElements {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    top: 8px;
    right: 16px;
    bottom: 16px;
    z-index: 100;
    
    .like, .basket {
      cursor: pointer;
      transition: $animationTransition;
      
      img {
        width: 16px;
        height: 16px;
      }

      &:hover {
        opacity: 0.6;
      }
    }

    .basket {
      bottom: 0;
    }
  }

  &:hover .activeElements {
    display: flex;
  }
}
