$orange: #FFA62B;
$white: #FDFFFC;
$seaGrey: #0680E2;
$grey: #F2F7FB;
$black: #0F0F0F;
$greyBlue: #5D85A5;
$darkBlue: #41414C;
$darkBlue2: #41414C33;
$lightGrey: #858080;
$lightGrey2: #84848D;
$lightGreyTransparent: #00000033;
$lightGreyTransparent2: 0px 2px 12px 0px #00000040;
$lightGreyTransparent3: 0px 2px 4px 0px #00000040;
$lightGreyTransparent4: 0px 0px 40px 0px #5D85A51A;
$lightGreyTransparent5: 0px 1px 2px #00000040;
$lightOrangeTransparent: #FFA62B5C;
