$bronze: #af803f;
$white: #ffffff;
$turquoise: #54bbc2;
$darkTurquoise: #327b81;
$lightTurquoise: #eff3f0;
$black: #000000;
$pink: #e186b7;
$gold: #9c8f62;
$darkBlue: #393940;
$darkBlue2: #3a3a443e;
$lightBlueTransparent: #4f4f5b2f;
$lightGrey: #908b8b;
$lightGreyTransparent2: 0px 2px 12px 0px #0f0e0e40;
$lightGreyTransparent3: 4px 4px 3px rgb(39 31 31 / 47%);
$lightGreyTransparent4: 0px 0px 40px 0px #569f841a;
$lightGreyTransparent5: 0px 1px 2px #0f0e0e40;
$lightOrangeTransparent: #f8ab3f73;
