@import 'styles/fontFamily';
@import 'styles/colors';
@import 'styles/animation';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $raleway;
  font-weight: 400;
  color: $darkBlue;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  transition: $animationTransition;
  
  &, &:visited, &:hover {
    text-decoration: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus, &:active {
    outline: none;
  }
}
