@import 'styles/fontMixin';
@import 'styles/colors';
@import 'styles/mediaBreakpoint';

.wrapper {
  width: 100%;
  text-align: center;

  .title {
    @include fontStyle(700, 24px, 26px);
    color: $black;
    display: block;
    padding: 0 16px;
    margin-bottom: 30px;
    @include mediaBreakpoint(md) {
      @include fontStyle(700, 20px, 20px);
      margin-bottom: 20px;
    }  
  }
}
