@import 'styles/fontMixin';
@import 'styles/colors';

.wrapper {
  max-width: 1312px;
  margin: 0 auto;
  margin-bottom: 112px;

  .title {
    @include fontStyle(700, 24px, 29px);
    color: $black;
    display: inline-block;
    margin-bottom: 40px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}

@media screen and (max-width: 1339px) {
  .wrapper {
    margin: 0 16px 112px;
  }
}

@media screen and (max-width: 975px) {
  .wrapper .cards {
    gap: 15px;
  }
}

@media screen and (max-width: 680px) {
  .wrapper {
    margin-bottom: 60px;
  
    .title {
      @include fontStyle(700, 20px, 20px);
      margin-bottom: 20px;
    }
  
    .cards {  
      gap: 20px;
    }
  }
}
