@import 'styles/colors';
@import 'styles/fontMixin';

.wrapper .menuList {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .menuItem {
        & a {
            color: $black;
        }

        &:first-letter {
            text-transform: uppercase;
        }
    }
}

.wrapperMenu {
    height: 43px;
    background: $grey;

    .menuList {
        max-width: 919px;
        flex-direction: row;
        transform: translateY(50%);

        .menuItem a {
            @include fontStyle(400, 16px, 20px);
        }
    }
}

.wrapperActiveMenu .menuList{
    padding: 45px;
    flex-direction: column;

    .menuItem a {
        @include fontStyle(400, 28px, 40px);
    }
}

@media screen and (max-width: 975px) {
    .wrapper {
        padding: 0 15px;
    }

    .wrapperMenu .menuList .menuItem a{
        @include fontStyle(400, 14px, 19px);
    }
}

@media screen and (max-width: 800px) {
    .wrapperActiveMenu .menuList {
        padding: 30px;
    }

    .wrapperMenu .menuList .menuItemUa a{
        @include fontStyle(400, 12px, 14px);
    }
}

@media screen and (max-width: 680px) {
    .wrapperMenu {
        display: none;
    }
}
