@import 'styles/mediaBreakpoint';

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 100px;
  @include mediaBreakpoint(md) {
    margin-bottom: 60px;
  }
  @include mediaBreakpoint(sm) {
    margin-bottom: 30px;
  }

  .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    @include mediaBreakpoint(lg) {
      gap: 15px;
    }  
    @include mediaBreakpoint(md) {
      gap: 20px;
    }  
  }
}
