@import 'styles/fontMixin';
@import 'styles/colors';
@import 'styles/animation';

.wrapper {
  margin: 56px 0;

  .benefits {
    max-width: 1312px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;

    .card {
      grid-column: span 1;
      cursor: pointer;
      display: grid;
      justify-items: center;
      position: relative;

      .picture {
        height: 64px;
        width: 64px;
        margin-bottom: 16px;
        transition: $animationTransition;
      }

      .title {
        @include fontStyle(500, 24px, 29px);
        color: $seaGrey;
        text-align: center;
      }

      .separator {
        position: absolute;
        left: 93%;
        top: 50%;
        width: 77px;
        height: 1px;
        background: $seaGrey;
        transform: rotate(90deg);
      }

      &:last-child .separator {
        display: none;
      }

      &:hover .picture {
        transform: scale(1.15);
      }
    }
  }
}

@media screen and (max-width: 975px) {
  .wrapper {
    margin: 26px 0;
  
    .benefits .card {
      .picture {
        width: 44px;
        height: 44px;
        margin-bottom: 9px;
      }

      .title {
        @include fontStyle(500, 18px, 20px);
      }

      .separator {
        width: 50px;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .wrapper {
    padding: 5px;

    .benefits .card {
      .picture {
        width: 34px;
        height: 34px;
        margin-bottom: 5px;
      }

      .title {
        @include fontStyle(500, 16px, 18px);
      }

      .separator {
        width: 40px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .wrapper .benefits .card {
    grid-column: span 2;

    .separator {
      display: none;
    }
  }
}
