@import 'styles/colors';
@import 'styles/animation';

.wrapper {
  height: 171px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: white;

  .burgerWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
  }

  .burgerMenu {
    width: 100%;
    height: 100vh;
    background: $grey;
    position: absolute;
    z-index: 1000;
    animation: active $animationDurationTime;
    @keyframes active {
      from {height: 0}
      to {height: 100vh}
    }
  }
}

@media screen and (max-width: 680px) {
  .wrapper {
    height: 93px;
    box-shadow: $lightGreyTransparent5;
  }
}
