@import 'styles/colors';
@import 'styles/animation';
@import 'styles/mediaBreakpoint';

.wrapper {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: $white;
  box-shadow: $lightGreyTransparent2;

  .burgerWrapper {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 1001;
  }

  .burgerMenu {
    width: 100%;
    height: 100vh;
    background: $lightTurquoise;
    position: absolute;
    z-index: 1000;
    animation: active $animationDurationTime;
    @keyframes active {
      from {height: 0}
      to {height: 100vh}
    }
  }
}
