@import 'styles/colors';
@import 'styles/fontMixin';
@import 'styles/animation';

.wrapper {
    height: 32px;
    background: $sea-grey;
    opacity: 0.9;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);

    &_contant {
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1312px;

        .info {
            display: flex;
            flex-direction: row;

            .adress, .call, .time {
                margin-right: 16px;
                display: flex;
                flex-direction: row;
                align-items: center;

                & img {
                    margin: 0 7px;
                }
            }
        
            .adress_text, .time_text {
                @include fontStyle(400, 12px, 14.63px);
                color: $white;
            }
        
            .call_text {
                @include fontStyle(700, 14px, 17.07px);
                color: $white;
            }
        }

        .social {
            display: flex;
            flex-direction: row;
            
            .facebook_logo {
                margin-right: 4px;
            }
        }
    }
}

@media screen and (max-width: 975px) {
    .wrapper_contant {
        display: none;
    }
}
