.wrapper {
  .wrapperProduct {
    max-width: 1344px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 112px;

    .picturesWithDesc {
      display: flex;
      flex-direction: column;
      flex: 0 0 58%;
      flex-shrink: 2;
      padding: 0 16px;
    }
  
    .characteristics {
      flex-shrink: 1;
    }
  }
}

@media screen and (max-width: 975px) {
  .wrapper .wrapperProduct .characteristics {
    flex-shrink: 2;
  }
}

@media screen and (max-width: 875px) {
  .wrapper .wrapperProduct {
    flex-direction: column;
    gap: 16px;
  }
}

@media screen and (max-width: 680px) {
  .wrapper .wrapperProduct {
    margin-bottom: 60px;
  }
}
