@import 'styles/colors';
@import 'styles/fontMixin';
@import 'styles/animation';

.wrapper {
  height: 100%;
  width: 100%;
  position: relative;

  input {
    padding: 0 42px 0 10px;
    border: 2px solid $darkTurquoise;
    opacity: 0.5;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    &::placeholder {
      @include fontStyle(400, 14px, 17px)
    }
  }

  & img {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 6px;
    top: 6px;
    cursor: pointer;
    transition: $animationTransition;

    &:hover {
      opacity: 0.6;
    }
  }
}
