@import 'styles/colors';
@import 'styles/fontMixin';
@import 'styles/mediaBreakpoint';

.wrapper {
  width: 100%;
  background: $lightTurquoise;
  box-shadow: $lightGreyTransparent2;
  margin-top: 112px;
  @include mediaBreakpoint(lg) {
    margin-top: 80px;
  }
  @include mediaBreakpoint(md) {
    margin-top: 30px;
  }

  .footer {
    margin: 0 auto;
    max-width: 1344px;
    padding: 60px 16px 16px;
    @include mediaBreakpoint(sm) {
      padding-top: 30px;
    }
  
    .sections {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;
      padding: 0 5px;
      margin-bottom: 50px;
      @include mediaBreakpoint(lg) {
        margin-bottom: 26px;
      }  
      @include mediaBreakpoint(md) {
        margin-bottom: 10px;
      }  
      @include mediaBreakpoint(sm) {
        flex-direction: column;
      }  

      .contacts {  
        .call, .address {
          display: flex;
          flex-direction: row;
          align-items: center;
  
          img {
            width: 25px;
            height: 25px;
            @include mediaBreakpoint(lg) {
              width: 15px;
              height: 15px;
            }    
          }
  
          .callText, .addressText {
            margin-left: 10px;
            color: $black;
            @include mediaBreakpoint(sm) {
              margin-left: 5px;
            }    
          }
        }
  
        .call, .address {
          margin-bottom: 30px;
          @include mediaBreakpoint(lg) {
            margin-bottom: 20px;
          }
          @include mediaBreakpoint(md) {
            margin-bottom: 10px;
          }
    
          .callText, .addressText {
            @include fontStyle(500, 20px, 26px);
            @include mediaBreakpoint(lg) {
              @include fontStyle(500, 16px, 22px);
            }    
            @include mediaBreakpoint(md) {
              @include fontStyle(500, 14px, 18px);
            }    
            @include mediaBreakpoint(sm) {
              @include fontStyle(500, 12px, 18px);
            }    
          }
        }
    
        .social {
          display: flex;
          flex-direction: row;
  
          .facebookLogo, .instagramLogo {
            margin-right: 10px;
  
            img {
              width: 35px;
              height: 35px;
            }
          }
        }
      }

      .pages {
        display: flex;
        flex-direction: row;
        @include mediaBreakpoint(md) {
          flex-direction: column;
          align-items: center;
        }
  
        .categorySection {
          margin-right: 62px;
          @include mediaBreakpoint(lg) {
            margin-right: 32px;
          }  
      
          .title {
            @include fontStyle(500, 24px, 29px);
            color: $black;
            margin-bottom: 16px;
            @include mediaBreakpoint(lg) {
              @include fontStyle(500, 16px, 18px);
            }    
            @include mediaBreakpoint(md) {
              @include fontStyle(400, 16px, 18px);
            }
            @include mediaBreakpoint(sm) {
              margin-bottom: 20px;
            }  
          }
  
          .wrapperCatalog {
            @include mediaBreakpoint(md) {
              display: none
            }
          }
        }
  
        .otherSection .item {
          @include fontStyle(400, 18px, 27px);
          color: $black;
          margin-bottom: 16px;
          @include mediaBreakpoint(lg) {
            @include fontStyle(400, 16px, 18px);
          }
          @include mediaBreakpoint(sm) {
            margin-bottom: 20px;
          }
  
          &:first-letter {
            text-transform: uppercase;
          }
        }
      }
    }
  
    .bottom {
      display: flex;
      flex-direction: row;
      align-items: center;
  
      .logo {
        margin-right: 16px;
        @include mediaBreakpoint(lg) {
          margin-right: 5px;
        }
        @include mediaBreakpoint(md) {
          margin-right: 2px;
        }
  
        img{
          width: 40px;
          height: 40px;
          @include mediaBreakpoint(lg) {
            width: 20px;
            height: 20px;
          }  
          @include mediaBreakpoint(md) {
            width: 15px;
            height: 15px;
          }  
        }
      }
  
      .nameSite, .yearWork {
        @include fontStyle(400, 14px, 17px);
        color: $black;
        margin-right: 8px;
        @include mediaBreakpoint(lg) {
          @include fontStyle(400, 10px, 10px);
          margin-right: 2px;
        }
      }
    }
  }
}
