@import 'styles/colors';
@import 'styles/mediaBreakpoint';

.otherPicturesCard {
  width: 100%;
  height: 100%;
  padding: 4px;
  flex: 0 0 16.6666%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  @include mediaBreakpoint(lg) {
    flex: 0 0 25%;
  }
  @include mediaBreakpoint(md) {
    flex: 0 0 20%;
  }
  @include mediaBreakpoint(sm) {
    flex: 0 0 33.3333%;
  }
  
  &:hover {
    border: 2px solid $bronze;
  }

  img {
    position: absolute;
    object-fit: contain;
  }
}

.cardActive {
  border: 2px solid $lightBlueTransparent;
}
