@import './styles/fonts';
@import './styles/colors';
@import './styles/animation';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-weight: 400;
  color: $dark-blue;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  transition: $button-animation-time;
  
  &, &:visited, &:hover {
    text-decoration: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus, &:active {
    outline: none;
  }

}

.wrapper {
  height: 100vh;
}
