@import 'styles/positionMixin';
@import 'styles/animation';

.wrapper {
    width: 100%;
    max-width: 1312px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
    
    .logo {
        & a {
            display: flex;

            img {
                height: 82px;
                max-width: 300px
            }
        }
    }

    .search {
        height: 40px;
        width: 100%;
        max-width: 640px;
    }
    
    .selectedUser {
        display: flex;
        flex-direction: row;
        
        & div {
            width: 32px;
            height: 32px;
            
            img {
                margin: auto;
            }
        }

        .heart {
            margin-right: 12px;
        }

        .heart, .basket {
            justify-content: center;
            display: flex;
            cursor: pointer;
            transition: $button-animation-time;
        }

        .heart:hover, .basket:hover {
            opacity: 0.6;
        }
        
        .orange_heart, .orange_basket {
            display: none;
        }      
    }
}

@media screen and (min-width: 976px) {
    .search {
        @include center-position;
    }
}

@media screen and (max-width: 975px) {
    .wrapper {
        padding: 0 15px;

        .selectedUser {
            position: absolute;
            top: -40px;
            right: 15px;
    
            .blue_heart, .blue_basket {
                display: none;
            }

            .orange_heart, .orange_basket {
                display: block;
            }    
        }
    }
}

@media screen and (max-width: 680px) {
    .wrapper {
        padding-bottom: 3px;
        
        .logo a {
            img {
                height: 55px;
            }
        }

        .search {
            input {
                display: none;
            }
        }

        .search_active {
            input {
                display: block;
                animation-name: active;
                animation-duration: 2s;
                @keyframes active {
                    from {left: 90%}
                    to {left: 0}
                }
            }
        }

        .selectedUser {
            top: -36px;
        }
    }
}
