.wrapper {
   max-width: 1440px;
   height: 400px;
   overflow: hidden;
   position: relative;
   
   .sliderPics {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: row;
   }

   .swipeWrapper {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      padding: 0 24px;

      .swipeLeft, .swipeRight {
         cursor: pointer;
      }
   
      .swipeLeft:hover, .swipeRight:hover {
         opacity: 0.6;
      }
   }
}
